<!--ABOUT SECTION -->
  <section id="about" class="text-center">
    <div class="container wow fadeInUp">
      <h2>{{ content.field_about_title.0 }}</h2>
      <div class="row">
        <div class="col-md-8 mx-auto wow fadeInUp">
          <p>{{ content.field_about_description.0 }}</p>
          <a href="{{ content.field_btn_link.0 }}" class="btn btn-infos">{{ content.field_about_link_text.0 }}</a>
        </div> 
      </div>  
    </div>   
  </section>
<!-- END ABOUT SECTION -->
{{ content.field_our_team }}

{{ content.field_testimonial}}

{{ content.field_block}}


