
      

          <div class="col-md-4 col-sm-12 col-xs-12 blogs">
            <div class="blog-listing">
              <a href="{{ fields.view_node.content}}"><img src="{{ fields.field_blog_image.content}}" alt="blog-img" class="img-responsive"></a>
                <div class="blog-description">
                  <div class="row">
                    <div class="col-md-2 blog-date">
                      <p>{{ fields.created.content}}</p>
                    </div>
                    <div class="col-md-10">
                      <a href="{{ fields.view_node.content}}"><h6>{{ fields.field_blog_title.content}}</h6></a>
                    </div>
                    <div class="col-md-12 blog-desc">
                      <p>{{ fields.body.content}}</p>
                    </div>
                  </div>  
                </div>
              </div>  
          </div>
       
